<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Artist</title>
</head>

<body>
    <div>
        {{template "nav" .}}
    </div>
    <div class="header">
        <h1 class="title">{{ .Name }}</h1>
    </div>
    <div>
        <img src="{{ .Image }}" style="display: block; margin: auto; margin-top: 50px;">
    </div>
    <div class="flexbox-container-1">
        <div class="flexbox-container-2">
            <div class="card">
                <p id="card-item">Established: {{ .CrDate }}</p>
            </div>
            <div class="card">
                <p id="card-item">First Album: {{ .FstAlbum }}</p>
            </div>
        </div>
        <div class="flexbox-container-2">
            <div class="card">
                <p id="card-item">Members</p>
            </div>
            <div class="card card-1">
                <div class="containerUL">
                    <ul class="myUL">
                        {{range .Members }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="flexbox-container-2">
            <div class="card">
                <p id="card-item">Concerts</p>
            </div>
            <div class="card card-1">
                <div class="containerUL">
                    <ul class="myUL">
                        {{ range $location, $dates := .Relations.DatesLocations }}
                        <li>{{ $location }}:
                            <div class="containerUL">
                                <ul class="myUL">
                                    {{ range $dates }}
                                    <li>{{ . }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <!-- map -->
        <div id="map" style="width: 100%; height: 500px; background-color: gray;">
        </div>
    </div>

    <!-- map script -->
    <script>
        function initMap() {
            let center = { lat: -10.2, lng: 151.25 };
            let map = new google.maps.Map(
                document.getElementById('map'), { zoom: 2, center: center }
            );
            var coordinatesStr = "{{.Coordinates}}"
            coordinates = parseCoordinates(coordinatesStr)

            // Create an empty array to hold the marker objects
            var markers = [];

            // Create the markers and add them to the map
            for (i = 0; i < coordinates.length; i++) {
                let marker = new google.maps.Marker(
                    { position: new google.maps.LatLng(coordinates[i][0], coordinates[i][1]), map: map }
                );
                markers.push(marker);
            }

            // Draw lines between markers
            if (markers.length > 1) {
                var pathCoordinates = markers.map(marker => marker.getPosition());
                var line = new google.maps.Polyline({
                    path: pathCoordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.2,
                    strokeWeight: 1
                });
                line.setMap(map);
            }
        }

        function parseCoordinates(coordinatesString) {
            // Regular expression to match numbers (floats)
            var regex = /-?\d+\.\d+/g;
            // Extract numeric values from the string using the regular expression
            var numericValues = coordinatesString.match(regex);

            // Initialize an array to store the parsed coordinates
            var coordinates = [];

            // Iterate over numeric values (two at a time for lat and lng)
            for (var i = 0; i < numericValues.length; i += 2) {
                // Parse latitude and longitude as floats and push to coordinates array
                var latitude = parseFloat(numericValues[i]);
                var longitude = parseFloat(numericValues[i + 1]);
                if (!isNaN(latitude) && !isNaN(longitude)) {
                    coordinates.push([latitude, longitude]);
                }
            }

            return coordinates;
        }
    </script>

    <!-- Loading the Maps JavaScript API -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc34KbLF2AwVSxNoADZD7rIDChtwaNe_4&callback=initMap">
    </script>
</body>

</html>