<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Home Page</title>
</head>

<body>
    <div>
        {{template "nav" .}}
    </div>

    <div class="header">
        <h1>Groupie Tracker</h1>
    </div>


    <!-- Search -->
    <div class="search">
        <form action="/results" method="get" autocomplete="off">
            <input required class="myInput icon" type="text" placeholder="Search" name="q" hx-get="/search"
                hx-trigger="keyup changed delay=500ms" hx-target="#results">
        </form>
        <div id="results">
            <!-- search results search.html-->
        </div>
    </div>


    <!-- Filter -->
    <div>
        <form hx-post="/filter" hx-target="#artists">
            <input type="radio" name="nofmembers" id="n1" value="1">
            <label for="n1">1 member</label>
            <br>
            <input type="radio" name="nofmembers" id="n2" value="2">
            <label for="n2">2 members</label>
            <br>
            <input type="text" name="say" id="say">
            <button type="submit">Filter</button>
        </form>
    </div>

    <div id="artists" class="flexbox-container">
        {{range .}}
        <div class="flexbox-item">
            <p class="title">{{ .Name }}</p>
            <a href="/artist?id={{ .Id }}"><img src="{{ .Image }}"></a>
            <p class="title title1">Established: {{ .CrDate }}</p>
            <p class="title title1">First Album: {{ .FstAlbum }}</p>
            <br><br>
        </div>
        {{ end }}
    </div>
</body>

</html>